/*======= index.html =======*/
/* line 3, content/stylesheets/layout.scss */
#page1 .row-1 .col-1 {
  width: 407px;
  padding: 0 32px 0 0;
}

/* line 4, content/stylesheets/layout.scss */
#page1 .row-1 .col-2 {
  width: 475px;
  padding: 24px 0 0 0;
}

/* line 6, content/stylesheets/layout.scss */
#page1 .row-2 .line-ver-1 {
  background-position: 299px 0%;
}

/* line 7, content/stylesheets/layout.scss */
#page1 .row-2 .line-ver-2 {
  background-position: 614px 0%;
}

/* line 8, content/stylesheets/layout.scss */
#page1 .row-2 .col-1 {
  width: 277px;
  padding: 0 25px 0 0;
}

/* line 9, content/stylesheets/layout.scss */
#page1 .row-2 .col-2 {
  width: 271px;
  padding: 0 21px 0 21px;
}

/* line 10, content/stylesheets/layout.scss */
#page1 .row-2 .col-3 {
  width: 276px;
  padding: 0 0 0 23px;
}

/* line 12, content/stylesheets/layout.scss */
#page1 .row-3 .line-ver-3 {
  background-position: 425px 0%;
}

/* line 13, content/stylesheets/layout.scss */
#page1 .row-3 .col-1 {
  width: 403px;
  padding: 0 20px 0 0;
}

/* line 14, content/stylesheets/layout.scss */
#page1 .row-3 .col-2 {
  width: 393px;
  padding: 0 0 0 33px;
}

/*======= index-1.html =======*/
/* line 18, content/stylesheets/layout.scss */
#page2 .row-1 .col-1 {
  width: 407px;
  padding: 0 32px 0 0;
}

/* line 19, content/stylesheets/layout.scss */
#page2 .row-1 .col-2 {
  width: 475px;
  padding: 24px 0 0 0;
}

/* line 21, content/stylesheets/layout.scss */
#page2 .row-2 .line-ver-1 {
  background-position: 299px 0%;
}

/* line 22, content/stylesheets/layout.scss */
#page2 .row-2 .line-ver-2 {
  background-position: 614px 0%;
}

/* line 23, content/stylesheets/layout.scss */
#page2 .row-2 .col-1 {
  width: 277px;
  padding: 0 25px 0 0;
}

/* line 24, content/stylesheets/layout.scss */
#page2 .row-2 .col-2 {
  width: 271px;
  padding: 0 21px 0 21px;
}

/* line 25, content/stylesheets/layout.scss */
#page2 .row-2 .col-3 {
  width: 276px;
  padding: 0 0 0 23px;
}

/* line 27, content/stylesheets/layout.scss */
#page2 .row-3 .col-1 {
  width: 403px;
  padding: 0 20px 0 0;
}

/* line 28, content/stylesheets/layout.scss */
#page2 .row-3 .col-2 {
  width: 393px;
  padding: 0 0 0 33px;
}

/*======= index-2.html =======*/
/* line 32, content/stylesheets/layout.scss */
#page3 .row-1 .col-1 {
  width: 407px;
  padding: 0 32px 0 0;
}

/* line 33, content/stylesheets/layout.scss */
#page3 .row-1 .col-2 {
  width: 475px;
  padding: 24px 0 0 0;
}

/* line 35, content/stylesheets/layout.scss */
#page3 .row-2 .line-ver-1 {
  background-position: 299px 0%;
}

/* line 36, content/stylesheets/layout.scss */
#page3 .row-2 .line-ver-2 {
  background-position: 614px 0%;
}

/* line 37, content/stylesheets/layout.scss */
#page3 .row-2 .col-1 {
  width: 277px;
  padding: 0 25px 0 0;
}

/* line 38, content/stylesheets/layout.scss */
#page3 .row-2 .col-2 {
  width: 271px;
  padding: 0 21px 0 21px;
}

/* line 39, content/stylesheets/layout.scss */
#page3 .row-2 .col-3 {
  width: 276px;
  padding: 0 0 0 23px;
}

/*======= index-3.html =======*/
/* line 43, content/stylesheets/layout.scss */
#page4 .row-1 .col-1 {
  width: 407px;
  padding: 0 32px 0 0;
}

/* line 44, content/stylesheets/layout.scss */
#page4 .row-1 .col-2 {
  width: 475px;
  padding: 24px 0 0 0;
}

/* line 46, content/stylesheets/layout.scss */
#page4 .row-2 .line-ver-1 {
  background-position: 299px 0%;
}

/* line 47, content/stylesheets/layout.scss */
#page4 .row-2 .line-ver-2 {
  background-position: 614px 0%;
}

/* line 48, content/stylesheets/layout.scss */
#page4 .row-2 .col-1 {
  width: 277px;
  padding: 0 25px 0 0;
}

/* line 49, content/stylesheets/layout.scss */
#page4 .row-2 .col-2 {
  width: 271px;
  padding: 0 21px 0 21px;
}

/* line 50, content/stylesheets/layout.scss */
#page4 .row-2 .col-3 {
  width: 276px;
  padding: 0 0 0 23px;
}

/* line 52, content/stylesheets/layout.scss */
#page4 .row-3 .line-ver-3 {
  background-position: 425px 0%;
}

/* line 53, content/stylesheets/layout.scss */
#page4 .row-3 .col-1 {
  width: 403px;
  padding: 0 20px 0 0;
}

/* line 54, content/stylesheets/layout.scss */
#page4 .row-3 .col-2 {
  width: 393px;
  padding: 0 0 0 33px;
}

/*======= index-4.html =======*/
/* line 58, content/stylesheets/layout.scss */
#page5 .row-1 .col-1 {
  width: 407px;
  padding: 0 32px 0 0;
}

/* line 59, content/stylesheets/layout.scss */
#page5 .row-1 .col-2 {
  width: 475px;
  padding: 24px 0 0 0;
}

/* line 61, content/stylesheets/layout.scss */
#page5 .row-2 .line-ver-1 {
  background-position: 299px 0%;
}

/* line 62, content/stylesheets/layout.scss */
#page5 .row-2 .line-ver-2 {
  background-position: 614px 0%;
}

/* line 63, content/stylesheets/layout.scss */
#page5 .row-2 .col-1 {
  width: 277px;
  padding: 0 25px 0 0;
}

/* line 64, content/stylesheets/layout.scss */
#page5 .row-2 .col-2 {
  width: 271px;
  padding: 0 21px 0 21px;
}

/* line 65, content/stylesheets/layout.scss */
#page5 .row-2 .col-3 {
  width: 276px;
  padding: 0 0 0 23px;
}

/*======= index-5.html =======*/
/* line 69, content/stylesheets/layout.scss */
#page6 .row-1 {
  padding: 24px 0 0 0;
}
