%img#screenshot{:alt => "", :src => "images/screenshot.png"}/
%a{:href => "contact.html"}
  %img#sticker{:alt => "", :border => "0", :src => "images/sticker.png"}/
%img#slogan{:alt => "", :src => "images/slogan.gif"}/
#slogan_list
  %ul
    %li Fast distributed version control powered by Git
    %li Integrated code review powered by Gerrit
    %li Link to issue trackers and scrum tools
    %li Web based admin
    %li Security and workflow controls