/*======= index.html =======*/

#page1 .row-1 .col-1 {width: 407px; padding: 0 32px 0 0;}
#page1 .row-1 .col-2 {width: 475px; padding: 24px 0 0 0;}

#page1 .row-2 .line-ver-1 {background-position: 299px 0%;}
#page1 .row-2 .line-ver-2 {background-position: 614px 0%;}
#page1 .row-2 .col-1 {width: 277px; padding: 0 25px 0 0;}
#page1 .row-2 .col-2 {width: 271px; padding: 0 21px 0 21px;}
#page1 .row-2 .col-3 {width: 276px; padding: 0 0 0 23px;}

#page1 .row-3 .line-ver-3 {background-position: 425px 0%;}
#page1 .row-3 .col-1 {width: 403px; padding: 0 20px 0 0;}
#page1 .row-3 .col-2 {width: 393px; padding: 0 0 0 33px;}

/*======= index-1.html =======*/

#page2 .row-1 .col-1 {width: 407px; padding: 0 32px 0 0;}
#page2 .row-1 .col-2 {width: 475px; padding: 24px 0 0 0;}

#page2 .row-2 .line-ver-1 {background-position: 299px 0%;}
#page2 .row-2 .line-ver-2 {background-position: 614px 0%;}
#page2 .row-2 .col-1 {width: 277px; padding: 0 25px 0 0;}
#page2 .row-2 .col-2 {width: 271px; padding: 0 21px 0 21px;}
#page2 .row-2 .col-3 {width: 276px; padding: 0 0 0 23px;}

#page2 .row-3 .col-1 {width: 403px; padding: 0 20px 0 0;}
#page2 .row-3 .col-2 {width: 393px; padding: 0 0 0 33px;}

/*======= index-2.html =======*/

#page3 .row-1 .col-1 {width: 407px; padding: 0 32px 0 0;}
#page3 .row-1 .col-2 {width: 475px; padding: 24px 0 0 0;}

#page3 .row-2 .line-ver-1 {background-position: 299px 0%;}
#page3 .row-2 .line-ver-2 {background-position: 614px 0%;}
#page3 .row-2 .col-1 {width: 277px; padding: 0 25px 0 0;}
#page3 .row-2 .col-2 {width: 271px; padding: 0 21px 0 21px;}
#page3 .row-2 .col-3 {width: 276px; padding: 0 0 0 23px;}

/*======= index-3.html =======*/

#page4 .row-1 .col-1 {width: 407px; padding: 0 32px 0 0;}
#page4 .row-1 .col-2 {width: 475px; padding: 24px 0 0 0;}

#page4 .row-2 .line-ver-1 {background-position: 299px 0%;}
#page4 .row-2 .line-ver-2 {background-position: 614px 0%;}
#page4 .row-2 .col-1 {width: 277px; padding: 0 25px 0 0;}
#page4 .row-2 .col-2 {width: 271px; padding: 0 21px 0 21px;}
#page4 .row-2 .col-3 {width: 276px; padding: 0 0 0 23px;}

#page4 .row-3 .line-ver-3 {background-position: 425px 0%;}
#page4 .row-3 .col-1 {width: 403px; padding: 0 20px 0 0;}
#page4 .row-3 .col-2 {width: 393px; padding: 0 0 0 33px;}

/*======= index-4.html =======*/

#page5 .row-1 .col-1 {width: 407px; padding: 0 32px 0 0;}
#page5 .row-1 .col-2 {width: 475px; padding: 24px 0 0 0;}

#page5 .row-2 .line-ver-1 {background-position: 299px 0%;}
#page5 .row-2 .line-ver-2 {background-position: 614px 0%;}
#page5 .row-2 .col-1 {width: 277px; padding: 0 25px 0 0;}
#page5 .row-2 .col-2 {width: 271px; padding: 0 21px 0 21px;}
#page5 .row-2 .col-3 {width: 276px; padding: 0 0 0 23px;}

/*======= index-5.html =======*/

#page6 .row-1 {padding: 24px 0 0 0;}